---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="wrapper content-flow">
    <h1 class="title">About VOLUME OFF</h1>

    <p><strong>Turning down the noise to hear the music.</strong></p>

    <p>
        The world is loud. Between the endless stream of notifications 
        and the saturated charts, the music that truly matters often 
        gets lost in the static.
    </p>

    <p>
        VOLUME OFF was born from a simple idea: sometimes, you have to cut 
        the noise to finally hear the sound. We aren’t a breaking news 
        site or a gossip column. We are a digital space dedicated to 
        curation, conversation, and sonic exploration.
    </p>

    <h2>What we do : </h2>

    <ul>
        <li>
            <strong>⚡ Sound Selection</strong><br>
            We don’t believe in "content." We believe in music. 
            We handpick tracks and albums that move the needle, 
            focusing on quality and soul rather than algorithms 
            and trends.
        </li>
        <li>
            <strong>💎 Artist Talks</strong><br>
            Going beyond the standard interview. We sit down with 
            creators to discuss the "why" behind the "how." 
            From the studio secrets to the late-night inspirations.
        </li>
        <li>
            <strong>🪐 Sonic Journeys</strong><br>
            Music is a map. We explore global soundscapes—from the 
            hidden basement clubs of Berlin to the emerging rhythms 
            of the underground—bringing you stories from the 
            scenes that define today’s culture.
        </li>
    </ul>

    <h2>Why "Off"?</h2>

    <p>
        In a culture of "always on," being OFF is a choice. 
        It’s the silence between two tracks. It’s the moment you 
        put your headphones on and the rest of the world fades away.
    </p>

    <p>Volume Off is for the listeners who want to dive deeper.</p>

    <p>Welcome to the quiet side of the sound.</p>
    <nav>
        <a target="_blank" href="https://www.instagram.com/volume.off/">
            Instagram
        </a>
        <a target="_blank" href="/rss.xml">Subscribe to RSS</a>
    </nav>
  </div>
</Layout>
