---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer class="grid__footer site-footer">
	<p>
		&copy; {today.getFullYear()} {SITE_TITLE}.
	</p>
	<nav>
		<a target="_blank" href="https://www.instagram.com/groovelabmedia/">Instagram</a>
		<a target="_blank" href="/rss.xml">Subscribe to RSS</a>
	</nav>
</footer>
<style>
	.site-footer {
		border-block-start: 1px solid var(--color--light-gray);
		padding-block: var(--space-m);
		padding-inline: var(--width--site-gutter);
		text-align: center;
	}

	.site-footer p {
		font-size: var(--step--1);
		font-family: var(--font-family--sans-serif);
	}

	nav a {
		font-size: var(--step--2);
		position: relative;
		display: inline-block;
		color: var(--color-text);
		text-decoration: none;
		padding-right: var(--space-3xs);
		&::after {
			content: '|';
			position: absolute;
			right: -1px;
			top: 0;
			color: var(--color--dark-gray);
		}
	}

	nav a:last-child{
		&::after {
			content: '';
		}
	}
</style>
