---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import AllTags from '../../components/AllTags.astro';
import BlogList from '../../components/BlogList.astro';

const { tag } = Astro.props;

export async function getStaticPaths() {
	const isDev = import.meta.env.DEV;
	const posts = (await getCollection('blog')).filter((p) => isDev || !p.data.draft);
	
	// Extract unique tags from all posts
	const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))];

	// Generate paths for each unique tag
	return tags.map((tag) => ({
		params: { slug: tag }, // Use the tag as the slug
		props: { tag },        // Pass the tag as a prop
	}));
}

// Fetch all posts (filtered in prod)
const isDev = import.meta.env.DEV;
const allPosts = (await getCollection('blog')).filter((p) => isDev || !p.data.draft);

// Filter posts by the current tag
const posts = allPosts.filter((post) => 
	post.data.tags && post.data.tags.includes(tag)
);
---
<Layout>
	<h1 class="title wrapper">Posts tagged with "{tag}"</h1>
	<BlogList posts={posts} />
	<AllTags tags={allPosts.flatMap((post) => post.data.tags || [])} />
</Layout>